.filter-resolts {
  position        : fixed;
  top             : 0;
  right           : 0;
  display         : flex;
  overflow-x      : hidden;
  overflow-y      : auto;
  flex-direction  : column;
  box-sizing      : border-box;
  width           : 345px;
  height          : 100vh;
  padding         : 25px 28px 0;
  background-color: var(--base4);

  flex-shrink: 0;
}

.filter-resolts__title {
  margin-bottom: 35px;
  text-align   : center;
  font-size    : 18px;
  line-height  : 21px;
}

.filter-resolts__inputs {
  margin-bottom: 50px;
}

.filter-resolts__current {
  /* margin-top: 10px; */
}

.filter-resolts__reset {
  margin          : auto 0 80px;
  padding         : 0 20px;
  color           : var(--base0);
  border          : 2px solid var(--blue);
  border-radius   : 5px;
  background-color: transparent;
  font-size       : 14px;
  line-height     : 40px;
  cursor: pointer;

  align-self: center;
}

.filter-second {
  position: relative;
}

.filter-second__input {
  position: relative;
}

.filter-second__input.is-opened + .filter-second__dropdown {
  pointer-events: all;
  opacity: 1;
}

.filter-second__input::before {
  position: absolute;
  top: 50%;
  left: 0;
  content: 'search';
  cursor: pointer;
  user-select: none;
  transform: translateY(-50%);
  color: var(--blue);
  font-family: 'Material Icons';
  font-size  : 24px;
  pointer-events: none;
}

.filter-second__input::after {
  position: absolute;
  top: 50%;
  right: 0;
  content: 'expand_more';
  cursor: pointer;
  user-select: none;
  transform: translateY(-50%);
  color: var(--base0);
  font-family: 'Material Icons';
  font-size  : 18px;
  pointer-events: none;
}

.filter-second__search {
  width: 100%;
  height: 30px;
  padding-left: 30px;
  cursor: pointer;
  color: var(--base0);
  border: none;
  border-bottom: 1px solid var(--base2);
  outline: none;
  background-color: transparent;
  font-family: 'Roboto', serif;
  font-size: 14px;
  line-height: 30px;
}

.filter-second__search::placeholder {
  color: var(--base0);
}


.filter-second__dropdown {
  position: absolute;
  left: 0;
  z-index: 10;
  overflow-y: auto;
  box-sizing: border-box;
  max-height: 300px;
  /* padding       : 0 15px; */
  pointer-events: none;
  opacity: 0;
  color: var(--base0-medium);
  border-radius: 5px;
  background: var(--grey);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  font-size: 15px;
  width: 100%;
}



.filter-second__group {
  position: relative;
}

.filter-second__checkbox {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.filter-second__checkbox:checked + .filter-second__label {
  color: var(--base0);
}

.filter-second__checkbox:checked + .filter-second__label::before {
  opacity: 0;
}

.filter-second__checkbox:checked + .filter-second__label::after {
  opacity: 1;
}

.filter-second__label {
  word-break: break-all;
  display: block;
  padding: 5px 40px 5px 15px;
  cursor: pointer;
  transition: var(--transition);
  font-size: 15px;
  line-height: 18px;
}

.filter-second__label_all {
  padding: 15px;
  color: var(--base0);
}

.filter-second__label::before,
.filter-second__label::after {
  position: absolute;
  top: 50%;
  right: 15px;
  cursor: pointer;
  user-select: none;
  transition: var(--transition);
  transform: translateY(-50%);
  font-family: 'Material Icons';
  font-size: 20px;

  backface-visibility: hidden;
}

.filter-second__label::before {
  content: 'check_box_outline_blank';
  color: var(--base7);
}

.filter-second__label::after {
  content: 'check_box';
  opacity: 0;
  color: var(--blue);
}

.filter-second__label:hover {
  color: var(--base0);
}

.filter-second__label:hover::before {
  color: var(--blue);
}

.filter-second__trigger {
  position: relative;
  padding: 15px;
  cursor: pointer;
  color: var(--base0);
  border-top: 1px solid var(--base7);
  font-size: 15px;
  line-height: 14px;
}

.filter-second__trigger::before {
  position: absolute;
  top: 50%;
  right: 15px;
  content: 'expand_more';
  transform: translateY(-50%);
  font-family: 'Material Icons';
  font-size: 20px;
  line-height: 20px;
  transition: var(--transition);
}

.filter-second__trigger.is-opened::before {
  transform: translateY(-50%) rotate(180deg);
}

.filter-second__content {
  overflow: hidden;
  max-height: 0;
  padding: 0;
  transition: var(--transition);
}

.filter-second__content.is-opened {
  overflow-y: scroll;
  max-height: 132px;
  padding: 10px 0;
  border-top: 1px solid var(--base7);
}

.filter-second {
  position: relative;
  margin-top: 30px;
}

.filter-second__input {
  position: relative;
  width   : 240px;
}

.filter-second__input.is-opened+.filter-second__dropdown {
  pointer-events: all;
  opacity       : 1;
}

.filter-second__input::before {
  position   : absolute;
  top        : 50%;
  left       : 0;
  content    : 'search';
  cursor     : pointer;
  user-select: none;
  transform  : translateY(-50%);
  color      : var(--blue);
  font-family: 'Material Icons';
  font-size  : 24px;
}

.filter-second__input::after {
  position   : absolute;
  top        : 50%;
  right      : 0;
  content    : 'expand_more';
  cursor     : pointer;
  user-select: none;
  transform  : translateY(-50%);
  color      : var(--base0);
  font-family: 'Material Icons';
  font-size  : 18px;
}

.filter-second__search {
  width           : 100%;
  height          : 30px;
  padding-left    : 30px;
  cursor          : pointer;
  color           : var(--base0);
  border          : none;
  border-bottom   : 1px solid var(--base2);
  outline         : none;
  background-color: transparent;
  font-family     : 'Roboto', serif;
  font-size       : 14px;
  line-height     : 30px;
}

.filter-second__search::placeholder {
  color: var(--base0);
}

.filter-second__dropdown {
  position      : absolute;
  top           : calc(100% + 10px);
  left          : 0;
  z-index       : 10;
  overflow-y    : auto;
  box-sizing    : border-box;
  max-width     : 260px;
  max-height    : 300px;
  pointer-events: none;
  opacity       : 0;
  color         : var(--base0-medium);
  border-radius : 5px;
  background    : var(--grey);
  box-shadow    : 0 4px 20px rgba(0, 0, 0, 0.25);
  font-size     : 15px;
}

.filter-second__group {
  position: relative;
  cursor: pointer;
}
.filter-second__group:first-child{
  border-bottom: 1px solid rgba(144,144,144, 0.4);
}

.filter-second__checkbox {
  position: absolute;
  clip    : rect(0 0 0 0);
  width   : 1px;
  height  : 1px;
  margin  : -1px;
}

.filter-second__checkbox:checked+.filter-second__label {
  color: var(--base0);
}

.filter-second__checkbox:checked+.filter-second__label::before {
  opacity: 0;
}

.filter-second__checkbox:checked+.filter-second__label::after {
  opacity: 1;
}

.filter-second__label {
  display    : flex;
  
  padding    : 5px 40px 5px 15px;
  cursor     : pointer;
  transition : var(--transition);
  font-size  : 15px;
  line-height: 18px;
  word-break: break-word;
}

.filter-second__label_all {
  padding: 15px;
  color  : var(--base0);
}

.filter-second__label::before,
.filter-second__label::after {
  cursor      : pointer;
  user-select : none;
  transition  : var(--transition);
  font-family : 'Material Icons';
  font-size   : 20px;
  
  backface-visibility: hidden;
}

.filter-second__label_all::before,
.filter-second__label_all::after {
  top: 50%;
  transform: translateY(-50%);
}

.filter-second__label::before {
  content: 'check_box_outline_blank';
  color  : var(--base7);
}

.filter-second__label::after {
  content: 'check_box';

  opacity: 0;
  color  : var(--blue);
}

.filter-second__label:hover {
  color: var(--base0);
}

.filter-second__label:hover::before {
  color: var(--blue);
}

.filter-second__trigger {
  position   : relative;
  padding    : 15px;
  cursor     : pointer;
  color      : var(--base0);
  border-top : 1px solid var(--base7);
  font-size  : 15px;
  line-height: 14px;
}

.filter-second__trigger::before {
  position   : absolute;
  top        : 50%;
  right      : 15px;
  content    : 'expand_more';
  transition : var(--transition);
  transform  : translateY(-50%);
  font-family: 'Material Icons';
  font-size  : 20px;
  line-height: 20px;
}

.filter-second__trigger.is-opened::before {
  transform: translateY(-50%) rotate(180deg);
}

.filter-second__content {
  overflow  : hidden;
  max-height: 0;
  padding   : 0;
  transition: var(--transition);
}

.filter-second__content.is-opened {
  overflow-y: scroll;

  max-height: 132px;
  padding   : 10px 0;
  border-top: 1px solid var(--base7);
}
